*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    width: 100%;
    height: 100vh;
    background-image: url("/img/14.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    animation: back 15s linear infinite;
   
}
.box3{
    width: 200px;
    height: 250px;
    background-color: transparent;
    position: absolute;
    bottom: 160px;
    left: 20px;
    background-image: url("/img/1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    animation: run 12s linear infinite;
}
@keyframes back{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
@keyframes run{
    0%{
        background-image: url("/img/2.png");
    }

     25%{
        background-image: url("/img/3.png");
    }
   
    50%{
        background-image: url("/img/4.png");
    }
     
    75%{
        background-image: url("/img/5.png");
    }
    100%{
        background-image: url("/img/6.png");
    } 
}


